In [4]:
import pandas as pd

In [8]:
s = pd.Series([10, 20, 30, 40], index=[101, 104, 103, 102], name="age")
df = pd.DataFrame({"age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"], "id": [101, 102, 103, 104]})

df2 = pd.DataFrame(data={ "age": [20, 30, 40, 10], "name": ["张三", "李四", "王五", "赵六"]},columns=["name","age"],index=[101, 102, 103, 104])

df.set_index("id", inplace=True)
# df.set_index("id")
df

     age name
id
101   20   张三
102   30   李四
103   40   王五
104   10   赵六